@import "tailwindcss";
#root {
  position: relative;
  height: fit-content;

  min-height: 100vh;
  padding-bottom: 80px;
}
@media only screen and (max-width: 600px) {
  .VictoryContainer {
    user-select: auto !important;
    pointer-events: auto !important;
    touch-action: auto !important;
  }
}
